@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Major+Mono+Display&family=Space+Mono&display=swap");

body {
  font-family: "Major Mono Display", monospace;
  font-size: small;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  height: 100vh;
  background: linear-gradient(
    -45deg,
    #cacacc 0%,
    #8a8a8f 13%,
    #ff0080 25%,
    #8f6aae 38%,
    #a86aa4 50%,
    #4d4b4c 62%,
    #a8a8a8 75%,
    #686b68 87%,
    #6d6e6d 100%
  );
  background-size: 400% 400%;
  position: relative;
  animation: animate 7.5s ease-in-out infinite;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
  padding: 20px;
  font-size: 50px;
  border-radius: 10px;
}

@keyframes animate {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

footer {
  font-family: monospace;
  position: absolute;
  margin-top: 475px;
}

.card {
  position: relative;
  width: 300px;
  height: 400px;
  background: #fff;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(15px);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
}

.img-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transform: translateY(30px) scale(0.5);
  transform-origin: top;
}

.img-box img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 30px;
}

.content .detail {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.content .detail h2 {
  color: whitesmoke;
  font-size: 1.6em;
  font-weight: bolder;
}

.content .detail h2 span {
  font-size: 0.7em;
  color: whitesmoke;
  font-weight: bold;
}

.sci {
  position: relative;
  display: flex;
  margin-top: 5px;
  margin-right: 40px;
  margin-left: 0;
}
.sci li {
  list-style: none;
  margin: 10px;
}

.sci li a {
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: transparent;
  font-size: 1.5em;
  color: #444;
  text-decoration: none;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: 0.5s;
}

.sci li a:hover {
  background: #fd007eab;
  color: #fff;
}

.twitter {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: transparent;
}

.linkedin {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: transparent;
}

.github {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: transparent;
}

#resume {
  --x: 50%;
  --y: 50%;
  position: flex;
  appearance: none;
  padding: 1em 2em;
  color: white;
  cursor: pointer;
  outline: none;
  border-radius: 100px;
  border: 2px solid transparent;
  background: linear-gradient(#000, #000) padding-box,
    radial-gradient(farthest-corner at var(--x) var(--y), #00c9a7, #845ec2)
      border-box;
}

#resume:link {
  text-decoration: none;
}
#resume:visited {
  text-decoration: none;
}
#resume:hover {
  transition: background-color 0.15s, font-size 0.15s;
  font-size: 18px;
}
#resume:active {
  text-decoration: none;
}
